.Resume-con {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #edf0f5;
  flex-direction: column;
  padding-bottom: 5vh;
  margin-top: 5vh;
}
.Resume-inner-con {
  width: 100vw;
  width: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: lightseagreen; */
}
.Resume-text-con {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-direction: column;
  /* background-color: lightcoral; */
}
.Resume-head {
  align-self: flex-start;
  margin-left: 5vw;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.Resume-description-title {
  font-size: 25px;
  align-self: flex-start;
  margin-top: 10px;
}
.Resume-my-description {
  font-size: 20px;
  width: 60vw;
  animation: type 4s steps(14);
  overflow: hidden;
  align-self: flex-start;
  /* background-color: aquamarine; */
  margin-top: 5px;
}
@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 30ch;
  }
}

.Resume-skills-list {
  list-style-type: disc;
  font-size: 20px;
  width: 60vw;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid transparent;
  align-self: flex-start;
  /* background-color: aquamarine; */
  margin-top: 5px;
}

.Resume-my-image {
  width: 30vw;
  height: 20vh;
  align-self: flex-start;
}
.Resume-Download-anc {
  border: 0px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #282c34;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

@media only screen and (min-width: 850px) and (max-width: 1001px) {
  .Resume-my-image {
    width: 20vw;
    height: 15vh;
    align-self: flex-start;
  }
}

@media (min-width: 868px) {
  .Resume-my-image {
    width: 20vw;
    height: 55vh;
    align-self: flex-start;
  }
}
