.Header-Con {
  background-color: #282c34;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  text-align: center;
  padding-top: 4px;
}
a {
  color: white;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 80px;
}

.Nav-container {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-items-con {
  width: 35vw;
}

.nav-each-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
