.footer-section {
  width: 100vw;
  height: 10vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  color: white;
  width: 90vw;
  height: 10vh;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-con {
  /* background-color: aqua; */
}
.all-icons-con {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}
.icon-con {
  background-color: white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  text-align: center;
  padding-top: 4px;
}

.footer-logo {
  align-self: flex-start;
  align-items: auto;
}

.social-icon {
  color: #282c34;
  font-size: 20px;
}
