.footer-section {
  width: 100vw;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.footer-logo-con {
  /* background-color: aqua; */
}
.text-and-all-icons-con {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.all-icons-con {
  /* background-color: aqua; */
  display: flex;
  margin-bottom: 4px;
}
.icon-con {
  background-color: white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  text-align: center;
}

.footer-logo {
  align-self: flex-start;
  align-items: auto;
}

.social-icon {
  color: #282c34;
  font-size: 20px;
}

.social-heading {
  color: white;
  margin-top: 4px;
}

@media only screen and (min-width: 850px) and (max-width: 1001px) {
  .footer-section {
    height: 3vh;
  }
}

@media (min-width: 768px) {
  .footer-section {
    height: 10vh;
    flex-direction: column;
  }
  .text-and-all-icons-con {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
