.about-con {
  width: 100vw;
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf0f5;
  flex-direction: column;
}

.about-text-con {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: lightcoral; */
  text-align: left;
  margin-top: 10px;
}
.about-head {
  align-self: flex-start;
  margin-left: 5vw;
  font-size: 25px;
  /* margin-top: 10px;
  margin-bottom: 20px; */
}
.description-title {
  font-size: 25px;
}
.my-description {
  align-self: flex-start;
  font-size: 20px;
  width: 90vw;
}

.my-image {
  width: 20vw;
  height: 55vh;
}
